html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90vh;
    width: 90vw;
    gap: 171px;
    margin-top: 42px;
    border-radius: 21px;
}

.cell-1, .cell-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 63vh;
    height: 69vh;
    transition: all .6s;
}

.cell-1 {
    background-image: url('../media/cell1.jpg');
}

.cell-2 {
    background-image: url('../media/cell2.jpg');
}

.cell-1:hover, .cell-2:hover {
    transform: scale(1.2);
    border-radius: 3%;
}

.filter-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.filter-container label {
    font-size: 18px;
    font-weight: bold;
}

.filter-container select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: border-color 0.3s;
}

.filter-container select:focus {
    border-color: #007bff;
    outline: none;
}

.dia {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 графика в ряд */
    gap: 30px;
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    padding: 0 20px;
}

.chart-container {
    width: 100%;
    max-width: 400px;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: #fff; /* Белый фон для графиков */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .dia {
        grid-template-columns: repeat(3, 1fr); /* 3 графика в ряд на более узких экранах */
    }

    .chart-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .dia {
        grid-template-columns: repeat(2, 1fr); /* 2 графика в ряд на еще более узких экранах */
    }

    .chart-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .dia {
        grid-template-columns: 1fr; /* 1 график в ряд на маленьких экранах */
    }
}