<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='ico/logo.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', path='css/all.css') }}" rel="stylesheet">
    <!-- Подключение AnyChart и темной темы -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/themes/dark_glamour.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <script> var cell_number = {{ cell_number | int }}; </script>
    <script src="{{ url_for('static', path='js/gas_flow_analysis.js') }}"></script>
    <script src="{{ url_for('static', path='js/smooth.js') }}"></script>
    <script src="{{ url_for('static', path='js/robot-socked.js') }}"></script>
    <title>{{ page_title }}</title>
</head>
<body>
    <div class="content">
        <h3 class="current-data-h3">
            Актуальные данные по установке
        </h3>
        <div class="content-top">
            <div class="current-data">
                <p>Проволока: <span id="wire">-</span> от <span id="wire_time">-</span></p>
                <p>Газ основной: <span id="main_gaz">-</span> от <span id="main_gaz_time">-</span></p>
                <p>Доп газ: <span id="add_gaz">-</span> от <span id="add_gaz_time">-</span></p>
                <p>Наконечник: <span id="tip">-</span> <span id="tip_type">-</span> от <span id="tip_time">-</span></p>
                <p>Ролики: <span id="roll">-</span> <span id="roll_type">-</span> <span id="roll_dim">-</span></p>
                <p>Деффузор: <span id="mudguard">-</span> от <span id="mudguard_time">-</span></p>
                <p>Брызговик: <span id="thread">-</span> от <span id="thread_time">-</span></p>
                <p>Сопло: <span id="nozzle">-</span> от <span id="nozzle_time">-</span></p>
            </div>
            <div class="top-cell{{ cell_number }}-photo"></div>
        </div>
        <div id="container"></div>
        <div class="button-row">
            <button id="standard-btn" class="event-button" onclick="scrollToEvents('standard-events')">
                Штатные события
            </button>
            <button id="nonstandard-btn" class="event-button" onclick="scrollToEvents('nonstandard-events')">
                Нештатные события
            </button>
        </div>
        {% include 'include/events-section.html' %}
    </div>
</body>
</html>